<%- include('partials/header') %>
<%- include('partials/navbar') %>
<%- include('partials/sidebar') %>
<%- include('partials/modal') %>
<div class="container" id="helper">
    <div class="box" id="heading">
        <h1><% const day = new Date().toLocaleDateString('en-IN', {weekday : 'long'}) %> <%= day %>  </h1> 
    </div>
    
    <div class="box">
        <%- include('partials/lists') %> 
        <% if (isLogin) { %>
            <% items.map(item => { %>
                <form action="/delete" method="post">
                    <div class="item">
                        <input name="itemId" value= '<%= item._id %>' type="checkbox" onChange="this.form.submit()">
                        <p><%= item.item %></p>
                    </div>
                </form>
                <%}) %>
        <% } else { %>
            <% items.map(item => { %>
                <form action="/delete" method="post">
                    <div class="item">
                        <input name="itemId" type="checkbox" onChange="this.form.submit()">
                        <p><%= item%></p>
                    </div>
                    <input type="hidden" name="itemName" value='<%= item %>' >
                </form>
                <%}) %>
            <% } %> 
        <form class="item" action="/add" method="post">
            <input type="text" name="newItem" autofocus placeholder="New Item" autocomplete="off" required>
            <button name="list" type="submit">+</button>
        </form>
    </div>

    <!-- Floating list create button --> 
    <% if (isLogin) { %>
        <%- include('partials/create') %>
    <% } %> 

</div>

<%- include('partials/footer') %>